/* Typical Device Breakpoint

Telas pequenas: ate 600px
Celular:de 600px ate 768px
Tablet: de 769px ate 992px
Desktop: de 992 ate 1200px
Tv: acimda de 1200px
*/
:root{
    font-family: 'Poppins', sans-serif;

    color-scheme: light dark;
    color: rgb(255, 255, 255);
    

    --cor-primaria: #071952;
    --cor-secundaria: #0b666A;
    --cor-ternaria: #35a29f;
    --cor-quarternaria: #97FEED;

    --cor-btn: #1e9bff;

    --cor-teste: #333;

    --cor-azulClaro: #02153e;
    --cor-azulBlack: #020c22;

    --cor-menuMobileDark : #151924;
    --cor-bordaMobile: #2c303a;

    

}


@media screen and (max-width: 600px){ /*TELAS PEQUENAS*/
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
       
    }
    html, body{
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
    }
    .header-container{
        display: none;
        width: 0;
    }  
    main{
        width: 100%;
        min-width: 320px;
        min-height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .menu-mobile{
        position: fixed;
        display: flex;
        width: 100%;
        background-image: linear-gradient(to right, #859398, var(--cor-teste));
        -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22);
        z-index: 222;
    }
    .menu-mobile .rede-sociais{
        position: absolute;
        display: none;
        right: 0;
       
    }
    .menu-mobile img{
        position: relative;
        width: 150px;
        height: 40px;
        margin-top: 5px;
        margin-left: 20px;
        
    }
    .menu-mobile span{
        padding: 5px;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-top: 5px;
        margin-right: 10px;
        
    }
    .menu-mobile span:hover{
        color: var(--cor-quarternaria);
    }
    
   
    .menu-mobile .opcoes{
        position: fixed; 
        top: 0;
        right: -100%;
        background-color: var(--cor-menuMobileDark);
        color: white;
        overflow: hidden;
        width: 0;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
         
    }
    .menu-mobile .opcoes .bloco{
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        background: var(--cor-bordaMobile);
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .menu-mobile .opcoes #closeMenu{
        position: absolute;
        right: 5px;
    }
    .menu-mobile .opcoes .bloco h3{
        text-align: center;
        padding: 10px;
        margin-left: 40px;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .menu-mobile .opcoes .bloco .media{
        position: absolute;
        
    }
    .menu-mobile .opcoes img{
        position: absolute;
        width: 32px;
        height: 32px;
        margin-left: 6px;
    }
    .menu-mobile .opcoes a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        text-align: center;
        margin: 22px;
        font-size: 14px;
        
        
    }
    .menu-mobile .opcoes a span{
        position: absolute;
        display: flex;
        text-align: center;
        margin-right: 260px;
        margin-top: -8px;
        
    }
    .menu-mobile .opcoes a #location{
        position: absolute;
        display: flex;
        text-align: center;
        margin-right: 330px;
        margin-top: -5px;
    }
    .menu-mobile .opcoes a:hover{
        color: var(--cor-quarternaria);
    }
    #closeMenu{
        top: 0;
        right: 0;
        font-weight: 600;
    }
   

    .menu-mobile .opcoes .btn-group{
        position: relative;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: var(--cor-bordaMobile);
    }
    .menu-mobile .opcoes .btn-group a{
        padding-right: 20px;
        width: 40%;
        height: 50px;
        right: 0;
        top: 0;
        text-align: center;
        justify-content: center;
        border: none;
        background-color: var(--cor-ternaria);
        border-radius: 15px;
        color: var(--cor-azulBlack);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 85vh;
        margin-left: 10px;
        
    }
    .menu-mobile .opcoes .btn-group a #icon-zap{
        position: absolute;
        width: 35px;
        height: 35px;
        margin-top: -8px;
        margin-left: 120px;
        color: var(--cor-azulBlack);
    }
    .menu-mobile .opcoes .dropdown{
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .menu-mobile .opcoes .dropdown #dropbtn{
        background-color: transparent;
        color: var(--cor-quarternaria);
        border: none;
        padding-bottom: 5px;
        border-radius: 1px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        width: 50%;
        transition: 0.5s;
        margin-left: 100px;
        margin-bottom: 20px;
        
    }
    
    .menu-mobile .opcoes .dropdown .dropbtn #icon-app{
        position: absolute;
        margin-right: 120px;
        margin-top: -5px;
        font-size: 16px;
        transition: 0.5s;
    }
    
    .menu-mobile .opcoes .dropdown .dropbtn #incon-app:hover{
        color: white;
        transform: rotate(-40deg);
    }
    .menu-mobile .opcoes .dropdown .dropdown-content{
        display: none;
        position: relative;
        align-items: center;
        justify-content: center;
        animation: dropdown 0.5s forwards;
        
    }
    .menu-mobile .opcoes .dropdown .dropdown-content a{
        border: 2px solid white;
        margin-top: 10px;
        padding: 20px 20px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        color: white;
        transition: 0.5s ease-in-out;
        
    }
    .menu-mobile .opcoes .dropdown .dropdown-content a #icon-store{
        margin-bottom: 5px;
        margin-left: 15px;
    }
   
    
    .content-conteiner{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-conteiner h1{
        position: absolute;
        width: 100%;
        font-size: 40px;
        text-align: center;
        top: 0;
        margin-top: 180px;
        margin-left: 20px;
        animation: none;
        transition: none;
    }
    .content-conteiner .texto-secundario{
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 280px;
        padding: 20px;
        text-align: center;
    }
    .content-conteiner .btn{
        position: absolute;
        margin-top: 400px;
    }
    .sobre_acordeao{
        position: relative;
        margin: 0;
        background-color: white;
        flex-direction: column;
    }
    .sobre_acordeao h3{
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
    }
    .sobre_acordeao img{
        position: absolute;
        width: 80%;
        border-radius: 20px;
        margin-top: -50px;
    }
    .sobre_acordeao .p_visao{
        display: flex;
        margin-top: 30px;
        margin-left: 20px;
        width: 90%;
       
    }
    
    .sobre_acordeao .caixa{
        position: relative;
        align-items: center;
        text-align: justify;
        justify-content: center;
        width: 90%;
        margin-top: -260px;
        margin-bottom: 20px;
        padding: 20px 20px;
        border-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
        background-color: var(--cor-teste);
        color: white;
        animation: none;
        transition: none;
        
    }
    .sobre_acordeao .caixa strong{
        color: white;
    }
    .sobre_acordeao .caixa hr{
        border-color: var(--cor-quarternaria);    
        opacity: 0.5;

    }

    .produtos_conteiner{
        width: 100%;
        height: 1500px;
        
    }
   
    .produtos_conteiner h3{
        position: absolute;
        margin-top: 20px;
        margin-left: 40px;
        padding-bottom: 10px;
        font-size: 30px;
        z-index: 111;
    }
    .produtos_conteiner .desc_rastreador{
        width: 80%;
        font-size: 14px;
        margin: auto;
        margin-top: 480px;
        z-index: 111;   
    }
    .produtos_conteiner .img_mapa{
        position: absolute;
        width: 260px;
        height: 400px;
        margin-top: 60px;
        left: 20%;
    }
    .produtos_conteiner .titulo_cerca{
        position: absolute;
        margin-top: 680px;
        font-size: 30px;
    }
    .produtos_conteiner .img_cerca{  
        margin: auto;
        width: 260px;
        height: 400px;
        margin-top: -200px;
    }
    .produtos_conteiner .desc_cerca{
        position: absolute;
        margin: auto;
        margin-top: 1200px;
        left: 0;
        width: 80%;
        font-size: 14px;
        z-index: 111;   
        
    }
    .serv-slide-item{
        width: 100%;
        height: 100vh;
    }
    .serv-slide-item img{
        width: 100%;
        height: 100vh;
    }

    .item-conteudo-wraper{
        width: 60%;
    }


    .item-conteudo-titulo{
        margin-top: 40px;
        font-size: 30px;
        line-height: 30px;
        z-index: 111;
    }
    .item-conteudo-descricao{
        width: 300px;
        height: 400px;
        font-size: 14px;
        
    }

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: flex;
    }
    .tec-conteiner{
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }
    .tec-conteiner h3{
        align-items: center;
        font-size: 60px;
        margin: auto;
        margin-left: 20px;
        margin-top: 20px;
    }
    .L01{
       display: none;
    }
    .tec-conteiner img{
        margin-top: 120px;
    }
    .tec-conteiner .tec-text{
        position: absolute;
        width: 300px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 100px;
        left: 0;
        background-image: linear-gradient(to left, white,transparent);
        padding: 10px 15px;
        border-radius: 20px;
       
    }
    .parc-conteiner{
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }
    .parc-conteiner h3{
        font-size: 60px;
        left: 0;
        margin-top: 20px;
        margin: auto;
    }
    .parc-conteiner img{
        position: absolute;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 127px;
    }
    .parc-text p{
       width: 100%;
       left: 0;
       margin-top: 70px;
       font-size: 14px;
       font-weight: 600;
       background-image: linear-gradient(to top, white,transparent);
       background-color: white;
       padding: 10px 15px;
       border-radius: 5px;
    }
    footer{
        width: 100%;
        height: 100vh;
    }
    footer .footer-logo-final{
        margin-top: 20px;
        margin-left: 20px;
    }
   
    footer .footer-filiais{
        
        width: 100%;
        grid-template-columns: repeat(2 , 4fr);
        margin: auto;
        margin-top: 150px;
        padding: 5px 10px;
    }
    footer .footer-title{
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        margin-left: 20px;
    }
    footer  hr{
       width: 90%;
    }
     .footer-filiais .social-midia{
        position: absolute;
        right: 0;
        margin-right: 50px;
        margin-top: -25px;
       
        
    }
    

    .modal-content{
        width: 80%;
    }
    .conteudo-modal{
        margin-top: -40px;
    }
    .conteudo-modal p{
        font-size: 12px;
    }
    .conteudo-modal a{
        margin-top: 25px;
    }
   
    @keyframes abreMenu {
        from{
            right: -100%;
        } to{
            right: 0;
        }
    }
    @keyframes fecharMenu {
        from{
            right: 0;
        } to{
            right: -100%;
           
        }
    }
    @keyframes dropdown {
        from{
            margin-top: -40px;
            opacity: 0.6;
        } to{
            margin: 0;
        }
    }  
    @keyframes subir {
        from{
           margin: 0;
        } to{
            margin-top: -40px;
            
        }
    }
}

@media screen and (min-width:600px) and (max-width:768px) {/*CELULAR*/
   .header-container{
        display: none;
    }  
    
   
    .menu-mobile{
        position: fixed;
        display: flex;
        width: 100%;
        background-image: linear-gradient(to right, #859398, var(--cor-teste));
        -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22);
        z-index: 222;
    }
    .menu-mobile .rede-sociais{
        position: absolute;
        right: 0;
        margin-top: 7px;
        margin-right: 50px;
    }
    .menu-mobile img{
        position: relative;
        width: 150px;
        height: 40px;
        margin-top: 5px;
        margin-left: 15px;
        
    }
    .menu-mobile span{
        padding: 5px;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-top: 5px;
        margin-right: 5px;
        
    }
    .menu-mobile span:hover{
        color: var(--cor-quarternaria);
    }
    
   
    .menu-mobile .opcoes{
        position: fixed; 
        top: 0;
        right: 0;
        background-color: var(--cor-menuMobileDark);
        color: white;
        /*width: 90%;*/
        overflow: hidden;
        width: 0;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;

        overflow-x: hidden;
        
        transition: 0.5s;
        /*animation: abreMenu 0.5s forwards;      */ 
    }
    .menu-mobile .opcoes .bloco{
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        background: var(--cor-bordaMobile);
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .menu-mobile .opcoes .bloco h3{
        text-align: center;
        padding: 10px;
        margin-left: 40px;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .menu-mobile .opcoes .bloco .media{
        position: absolute;
        
    }
    .menu-mobile .opcoes img{
        position: absolute;
        width: 32px;
        height: 32px;
        margin-left: 6px;
    }
    .menu-mobile .opcoes a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        text-align: center;
        margin: 22px;
        font-size: 14px;
        
        
    }
    .menu-mobile .opcoes a span{
        position: absolute;
        display: flex;
        text-align: center;
        margin-right: 380px;
        margin-top: -8px;
        
    }
    .menu-mobile .opcoes a #location{
        position: absolute;
        display: flex;
        text-align: center;
        margin-right: 460px;
        margin-top: -5px;
    }
    .menu-mobile .opcoes a:hover{
        color: var(--cor-quarternaria);
    }
    #closeMenu{
        top: 0;
        right: 0;
        font-weight: 600;
    }
   

    .menu-mobile .opcoes .btn-group{
        position: relative;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: var(--cor-bordaMobile);
    }
    .menu-mobile .opcoes .btn-group a{
        padding-right: 20px;
        width: 40%;
        height: 50px;
        right: 0;
        top: 0;
        text-align: center;
        justify-content: center;
        border: none;
        background-color: var(--cor-ternaria);
        border-radius: 15px;
        color: var(--cor-azulBlack);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 85vh;
        margin-left: 10px;
    }
    .menu-mobile .opcoes .btn-group a #icon-zap{
        position: absolute;
        width: 35px;
        height: 35px;
        margin-top: -8px;
        margin-left: 200px;
        color: var(--cor-azulBlack);
    }
    .menu-mobile .opcoes .dropdown{
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .menu-mobile .opcoes .dropdown #dropbtn{
        background-color: transparent;
        color: var(--cor-quarternaria);
        border: none;
        padding-bottom: 5px;
        border-radius: 1px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        width: 50%;
        transition: 0.5s;
        margin-left: 100px;
        margin-bottom: 20px;
    }
    
    .menu-mobile .opcoes .dropdown .dropbtn #icon-app{
        position: absolute;
        margin-right: 220px;
        margin-top: -5px;
        font-size: 16px;
        transition: 0.5s;
    }
    
    .menu-mobile .opcoes .dropdown .dropbtn #incon-app:hover{
        color: white;
        transform: rotate(-40deg);
    }
    .menu-mobile .opcoes .dropdown .dropdown-content{
        display: none;
        position: relative;
        align-items: center;
        justify-content: center;
        animation: dropdown 0.5s forwards;
        
    }
    .menu-mobile .opcoes .dropdown .dropdown-content a{
        border: 2px solid white;
        margin-top: 10px;
        padding: 20px 20px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        color: white;
        transition: 0.5s ease-in-out;
        
    }
    .menu-mobile .opcoes .dropdown .dropdown-content a #icon-store{
        margin-bottom: 5px;
        margin-left: 15px;
    }
    
    .content-conteiner{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-conteiner h1{
        position: absolute;
        width: auto;
        font-size: 40px;
        text-align: center;
        top: 0;
        margin-top: 180px;
        margin-left: 20px;
        animation: none;
        transition: none;
    }
    .content-conteiner .texto-secundario{
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 280px;
        padding: 20px;
        text-align: center;
    }
    .content-conteiner .btn{
        position: absolute;
        margin-top: 400px;
    }
    .sobre_acordeao{
        position: relative;
        width: 100%;
        margin: 0;
        background-color: white;
        flex-direction: column;
    }
    .sobre_acordeao h3{
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        margin-top: 10px;
    }
    .sobre_acordeao img{
        position: absolute;
        width: 80%;
        border-radius: 20px;
        margin-top: -50px;
    }
    .sobre_acordeao .p_visao{
        display: flex;
        margin-top: 30px;
        margin-left: 20px;
        width: 90%;
        margin-bottom: 100vh;
    }
    
    .sobre_acordeao .caixa{
        position: relative;
        align-items: center;
        text-align: justify;
        justify-content: center;
        width: 90%;
        margin-top: -260px;
        margin-bottom: 20px;
        padding: 20px 20px;
        border-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
        background-color: var(--cor-teste);
        color: white;
        animation: none;
        transition: none;
        
    }
    .sobre_acordeao .caixa strong{
        color: white;
    }
    .sobre_acordeao .caixa hr{
        border-color: var(--cor-quarternaria);    
        opacity: 0.5;

    }
    .produtos_conteiner{
        height: 1500px;
    }
   
    .produtos_conteiner h3{
        position: absolute;
        margin-top: 20px;
        margin-left: 20px;
        font-size: 30px;
        z-index: 111;
    }
    .produtos_conteiner .desc_rastreador{
        width: 90%;
        font-size: 14px;
        margin: auto;
        margin-top: 480px;
        z-index: 111;   
    }
    .produtos_conteiner .img_mapa{
        position: absolute;
        width: 260px;
        height: 400px;
        margin-top: 60px;
    }
    .produtos_conteiner .titulo_cerca{
        position: absolute;
        margin-top: 650px;
        font-size: 30px;
    }
    .produtos_conteiner .img_cerca{  
        margin: auto;
        width: 260px;
        height: 400px;
        margin-top: -200px;
    }
    .produtos_conteiner .desc_cerca{
        position: absolute;
        margin: auto;
        margin-top: 1200px;
        left: 0;
        width: 90%;
        font-size: 14px;
        z-index: 111;   
        
    }
    .serv-slide-item{
        width: 100%;
        height: 100vh;
    }
    .serv-slide-item img{
        width: 100%;
        height: 100vh;
    }

    .item-conteudo-wraper{
        width: 60%;
    }


    .item-conteudo-titulo{
        margin-top: 40px;
        font-size: 30px;
        line-height: 30px;
        
        z-index: 111;
    }
    .item-conteudo-descricao{
        width: 300px;
        height: 400px;
        font-size: 14px;
        
    }

    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: flex;
    }
    .tec-conteiner{
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }
    .tec-conteiner h3{
        align-items: center;
        font-size: 60px;
        margin: auto;
        margin-left: 20px;
        margin-top: 20px;
    }
    .L01{
       display: none;
    }
    .tec-conteiner img{
        margin-top: 120px;
    }
    .tec-conteiner .tec-text{
        position: absolute;
        width: 300px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 100px;
        left: 0;
        background-image: linear-gradient(to left, white,transparent);
        padding: 10px 15px;
        border-radius: 20px;
       
    }
    .parc-conteiner{
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }
    .parc-conteiner h3{
        font-size: 60px;
        left: 0;
        margin-top: 20px;
        margin: auto;
    }
    .parc-conteiner img{
        position: absolute;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 127px;
    }
    .parc-text p{
       width: 100%;
       left: 0;
       margin-top: 70px;
       font-size: 14px;
       font-weight: 600;
       background-image: linear-gradient(to top, white,transparent);
       background-color: white;
       padding: 10px 15px;
       border-radius: 5px;
    }
    footer{
        height: 100vh;
    }
    footer .footer-logo-final{
        margin-top: 20px;
        margin-left: 20px;
    }
   
    footer .footer-filiais{
        width: 100%;
        grid-template-columns: repeat(2 , 4fr);
        margin: auto;
        margin-top: 150px;
        padding: 5px 10px;
    }
    
    

    footer .footer-title{
        margin-top: 100%;
    }

    .modal-content{
        width: 80%;
    }
    .conteudo-modal{
        margin-top: -40px;
    }
    .conteudo-modal p{
        font-size: 12px;
    }
    .conteudo-modal a{
        margin-top: 25px;
    }
   
    @keyframes abreMenu {
        from{
            right: -100%;
        } to{
            right: 0;
        }
    }
    @keyframes fecharMenu {
        from{
            right: 0;
        } to{
            right: -100%;
           
        }
    }
    @keyframes dropdown {
        from{
            margin-top: -40px;
            opacity: 0.6;
        } to{
            margin: 0;
        }
    }  
    @keyframes subir {
        from{
           margin: 0;
        } to{
            margin-top: -40px;
            
        }
    }
}
@media screen and (min-width:769px) and (max-width:992px) {/*TABLET*/
    .header-container{
        display: none;
    }  
    
    .menu-mobile{
        position: fixed;
        display: flex;
        width: 100%;
        background-image: linear-gradient(to right, #859398, var(--cor-teste));
        -webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.22);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.22);
        z-index: 222;
    }
    .menu-mobile .rede-sociais{
        position: absolute;
        right: 0;
        margin-top: 7px;
        margin-right: 50px;
    }
    .menu-mobile img{
        position: relative;
        width: 150px;
        height: 40px;
        margin-top: 5px;
        margin-left: 15px;
        
    }
    .menu-mobile span{
        padding: 5px;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-top: 5px;
        margin-right: 5px;
        
    }
    .menu-mobile span:hover{
        color: var(--cor-quarternaria);
    }
    
   
    .menu-mobile .opcoes{
        position: fixed; 
        top: 0;
        right: 0;
        background-color: var(--cor-menuMobileDark);
        color: white;
        /*width: 90%;*/
        overflow: hidden;
        width: 0;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;

        overflow-x: hidden;
        
        transition: 0.5s;
        /*animation: abreMenu 0.5s forwards;      */ 
    }
    .menu-mobile .opcoes .bloco{
        position: relative;
        display: block;
        width: 45px;
        height: 45px;
        margin-left: 20px;
        background: var(--cor-bordaMobile);
        border-radius: 10px;
        margin-bottom: 5px;
    }
    .menu-mobile .opcoes .bloco h3{
        text-align: center;
        padding: 10px;
        margin-left: 40px;
        font-size: 25px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .menu-mobile .opcoes .bloco .media{
        position: absolute;
        
    }
    .menu-mobile .opcoes img{
        position: absolute;
        width: 32px;
        height: 32px;
        margin-left: 6px;
    }
    .menu-mobile .opcoes a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: white;
        text-align: center;
        margin: 22px;
        font-size: 14px;
        
        
    }
    .menu-mobile .opcoes a span{
        position: absolute;
        display: flex;
        text-align: center;
        margin-right: 480px;
        margin-top: -8px;
        
    }
    .menu-mobile .opcoes a #location{
        position: absolute;
        display: flex;
        text-align: center;
        margin-right: 560px;
        margin-top: -5px;
    }
    .menu-mobile .opcoes a:hover{
        color: var(--cor-quarternaria);
    }
    #closeMenu{
        top: 0;
        right: 0;
        font-weight: 600;
    }
   

    .menu-mobile .opcoes .btn-group{
        position: relative;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: var(--cor-bordaMobile);
    }
    .menu-mobile .opcoes .btn-group a{
        padding-right: 20px;
        width: 40%;
        height: 50px;
        right: 0;
        top: 0;
        text-align: center;
        justify-content: center;
        border: none;
        background-color: var(--cor-ternaria);
        border-radius: 15px;
        color: var(--cor-azulBlack);
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 85vh;
        margin-left: 10px;
    }
    .menu-mobile .opcoes .btn-group a #icon-zap{
        position: absolute;
        width: 35px;
        height: 35px;
        margin-top: -8px;
        margin-left: 250px;
        color: var(--cor-azulBlack);
    }
    .menu-mobile .opcoes .dropdown{
        position: relative;
        align-items: center;
        justify-content: center;
    }
    .menu-mobile .opcoes .dropdown #dropbtn{
        background-color: transparent;
        color: var(--cor-quarternaria);
        border: none;
        padding-bottom: 5px;
        border-radius: 1px;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        width: 50%;
        transition: 0.5s;
        margin-left: 200px;
        margin-bottom: 20px;
    }
    
    .menu-mobile .opcoes .dropdown .dropbtn #icon-app{
        position: absolute;
        margin-right: 280px;
        margin-top: -5px;
        font-size: 16px;
        transition: 0.5s;
    }
    
    .menu-mobile .opcoes .dropdown .dropbtn #incon-app:hover{
        color: white;
        transform: rotate(-40deg);
    }
    .menu-mobile .opcoes .dropdown .dropdown-content{
        display: none;
        position: relative;
        align-items: center;
        justify-content: center;
        animation: dropdown 0.5s forwards;
        
    }
    .menu-mobile .opcoes .dropdown .dropdown-content a{
        border: 2px solid white;
        margin-top: 10px;
        padding: 20px 20px;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 600;
        color: white;
        transition: 0.5s ease-in-out;
        
    }
    .menu-mobile .opcoes .dropdown .dropdown-content a #icon-store{
        margin-bottom: 5px;
        margin-left: 15px;
    }
    
    .content-conteiner{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .content-conteiner h1{
        position: absolute;
        width: auto;
        font-size: 40px;
        text-align: center;
        top: 0;
        margin-top: 280px;
        margin-left: 20px;
        animation: none;
        transition: none;
    }
    .content-conteiner .texto-secundario{
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        margin-top: 330px;
        padding: 20px;
        text-align: center;
    }
    .content-conteiner .btn{
        position: absolute;
        margin-top: 400px;
    }
    .sobre_acordeao{
        position: relative;
        width: 100%;
        margin: 0;
        background-color: white;
        flex-direction: column;
    }
    .sobre_acordeao h3{
        position: absolute;
        font-size: 20px;
        font-weight: 700;
        margin-top: 10px;
    }
    .sobre_acordeao img{
        position: absolute;
        width: 80%;
        border-radius: 20px;
        margin-top: -80px;
    }
    .sobre_acordeao .p_visao{
        display: flex;
        margin-top: 30px;
        margin-left: 20px;
        width: 90%;
        margin-bottom: 100vh;
    }
    
    .sobre_acordeao .caixa{
        position: relative;
        align-items: center;
        text-align: justify;
        justify-content: center;
        width: 90%;
        margin-top: -160px;
        margin-bottom: 20px;
        padding: 20px 20px;
        border-radius: 20px;
        margin-right: 20px;
        margin-left: 20px;
        background-color: transparent;
        color: black;
        animation: none;
        transition: none;
        
    }
    .sobre_acordeao .caixa strong{
        color: black;
    }
    .sobre_acordeao .caixa hr{
        border-color: var(--cor-quarternaria);    
        opacity: 0.5;

    }
    .produtos_conteiner{
        height: 900px;
    }
   
    .produtos_conteiner h3{
        position: absolute;
        margin-top: 20px;
        margin-left: 40px;
        font-size: 50px;
        z-index: 111;
    }
    .produtos_conteiner .desc_rastreador{
        position: absolute;
        left: 0;
        margin-left: 40px;
        width: 50%;
        margin-top: 100px;
        font-size: 14px;
        z-index: 111;   
    }
    .produtos_conteiner .img_mapa{
        position: absolute;
        width: 260px;
        height: 400px;
        margin-top: 60px;
    }
    .produtos_conteiner .titulo_cerca{
        position: absolute;
        width: 50%;
        line-height: 40px;
        text-align: right;
        margin-top: 500px;
        font-size: 50px;
    }
    .produtos_conteiner .img_cerca{  
        position: absolute;
        left: 0;
        margin-left: 40px;
        width: 260px;
        height: 400px;
        margin-top: 400px;
        
    }
    .produtos_conteiner .desc_cerca{
        position: absolute;
        margin: auto;
        right: 0;
        margin-right: 100px;
        width: 50%;
        margin-top: 580px;
        font-size: 14px;
        z-index: 111;   
        
    }
    .serv-slide-item{
        width: 100%;
        height: 100vh;
    }
    .serv-slide-item img{
        width: 100%;
        height: 100vh;
    }

    .item-conteudo-wraper{
        width: 60%;
    }


    .item-conteudo-titulo{
        margin-top: 40px;
        font-size: 30px;
        line-height: 30px;
        
        z-index: 111;
    }
    .item-conteudo-descricao{
        width: 300px;
        height: 400px;
        font-size: 14px;
        
    }

    .img-desktop{
        display: flex;
    }

    .img-mobile{
        display: none;
    }
    .tec-conteiner{
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }
    .tec-conteiner h3{
        position: absolute;
        font-size: 80px;
        left: 0;
        margin-left: 40px;
        margin-top: 20px;
    }
    .L01{
       display: none;
    }
    .tec-conteiner img{
       
    }
    .tec-conteiner .tec-text{
        position: absolute;
        width: 600px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 140px;
        left: 0;
        background-image: linear-gradient(to left, white,transparent);
        padding: 10px 15px;
        border-radius: 20px;
       
    }
    .parc-conteiner{
        width: 100%;
        height: 100vh;
        justify-content: center;
        
    }
    .parc-conteiner h3{
        font-size: 60px;
        left: 0;
        margin-top: 20px;
        margin: auto;
    }
    .parc-conteiner img{
        position: absolute;
        align-items: center;
        width: 100%;
        height: 500px;
        margin-top: 127px;
    }
    .parc-text p{
       width: 100%;
       left: 0;
       margin-top: 70px;
       font-size: 14px;
       font-weight: 600;
       background-image: linear-gradient(to top, white,transparent);
       background-color: white;
       padding: 10px 15px;
       border-radius: 5px;
    }
    footer{
        height: 300px;
    }
    footer .footer-logo-final{
        margin-top: 50px;
        margin-left: 20px;
    }
   
    footer .footer-filiais{
        width: 70%;
        grid-template-columns: repeat(4 , 1fr);
        margin: auto;
        margin-top: 50px;
        padding: 5px 10px;
    }
    
    footer .footer-title{
        margin-top: 300px;
    }

    .modal-content{
        width: 80%;
    }
    .conteudo-modal{
        margin-top: -40px;
    }
    .conteudo-modal p{
        font-size: 12px;
    }
    .conteudo-modal a{
        margin-top: 25px;
    }
   
    @keyframes abreMenu {
        from{
            right: -100%;
        } to{
            right: 0;
        }
    }
    @keyframes fecharMenu {
        from{
            right: 0;
        } to{
            right: -100%;
           
        }
    }
    @keyframes dropdown {
        from{
            margin-top: -40px;
            opacity: 0.6;
        } to{
            margin: 0;
        }
    }  
    @keyframes subir {
        from{
           margin: 0;
        } to{
            margin-top: -40px;
            
        }
    }
}
@media screen and (min-width:992px) and (max-width:1200px) {/*DESKTOP*/
   
}

@media screen and (min-width:1500px) {
    .header-container {
        justify-content: center;
        gap: 40px;
    }
    .sobre_acordeao h3{
        margin-left: 200px;
    }
    .sobre_acordeao .p_visao{
        margin-left: 200px;
    }
    .sobre_acordeao img{
        margin-left: 200px;
    }
    .caixa{
        margin-right: 200px;
    }
    .produtos_conteiner h3{
        margin-left: 300px;
    }
    .produtos_conteiner .desc_rastreador{
        margin-left: 300px;
    }
    .produtos_conteiner .img_mapa{
        margin-right: 400px;
    }
    .produtos_conteiner .titulo_cerca{
        margin-right: 400px;
    }
    .produtos_conteiner .desc_cerca{
        margin-right: 400px;
    }
    .produtos_conteiner .img_cerca{
        margin-left: 400px;
    }
    .tec-conteiner .img-tec{
        display: none;
    }
    .tec-conteiner .img-tec-tv{
        display: flex;
        width: 1180px;
        height: 500px;
        margin-right: 300px;
    }
    .L01{
        display: none;
    }
    .tec-conteiner h3{
        margin-left: 400px;
    }
    .tec-text{
        margin-left: 300px;
    }

    .parc-conteiner h3{
        margin-right: 300px;
    }
    .parc-conteiner img{
        width: 500px;
        border-radius: 20px;
        margin-left: 300px;
    }
    .parc-text p{
        margin-right: 290px;
    }
    footer .footer-logo-final{
        margin-left: 200px;
    }
    footer .footer-filiais{
        margin-right: 200px;
    }
    footer .footer-title{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .modal-content{
        width: 50%;
        height: 60%;
    }
    .modal-content-app{
        height: 30%;
    }
}